<nav class="navbar bg-info" data-bs-theme="dark">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="fa-solid fa-shop-lock"></i>
      <span class="ms-2">Minimarket Los Tres Chiflados</span>
    </a>
  </div>
</nav>
